<div class="sidebar">
    <h2>MY ACCOUNT</h2>
    <ul>
        <li><a href="/myaccount" class="dashboard">Dashboard</a></li>
        <li><a href="/orders" class="orders">Orders</a></li>
        <li><a href="/useraddress" class="addresses">Addresses</a></li>
        <li><a href="/payment" class="payment-methods">Payment Methods</a></li>
        <li><a href="/editaccountdetails" class="account-details">Account Details</a></li>
        <!-- <li><a href="#">Wishlist</a></li> -->
        <li><a href="#" id="logoutLink" class="logout">Log Out</a></li>
    </ul>
</div>