<!DOCTYPE html>
<html lang = "en">

<head>
    <title> Oishi Great - Home </title>
    <link rel="stylesheet" href="css\user-address.css">
    <link rel="stylesheet" href="css\my-account.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <script src="https://kit.fontawesome.com/e0c28b56a4.js" crossorigin="anonymous"></script>
</head>

<body>
   
  
    {{> header}}
    
    <div>
        <div id="upperBox">   
            <div class="home-intro">
                <h1> The Most Reliable Water Refilling Service in Cubao </h1>    
                <p> Experience the Oishi Great Taste!</p>
                <button class="learn-button" onclick="window.location.href='/about';">LEARN MORE > </button>
            </div>
            <div class="home-intro" id="home-intro-image"><img src="/images/home-refill.png"></div>
        </div>
        
        <div id="secondBox">
            <div class="secondBoxText"> 
                <h1 class="second-intro"> We got you covered!</h1>
                <p class="second-body"> Whether you’re a retail customer, or a business in need of whole sale quantities. </p>
            </div>

            <div class="secondBoxImages">
                <div class="image-container">
                    <img src="images/image 7.png" class="party">
                    <p class="image-text">Party</p>
                </div>
                <div class="image-container">
                    <img src="images/image 8.png" class="business">
                    <p class="image-text">Business</p>
                </div>
                <div class="image-container">
                    <img src="images/icon_-individual.png" class="individual"> 
                    <p class="image-text">Individual</p>
                </div>
                <div class="image-container">
                    <img src="images/2316017-200.png" class="wholesale">
                    <p class="image-text">Wholesale</p>
                </div>
            </div>
        </div>

        <div id="thirdBox">
            <div id="delivery-img">
                <img src="images/home-delivery.png">
            </div>
            <div id="delivery-info">
                <h1 style="text-align: center;">Delivery Times</h1><br>
                <p>9am - 3pm for long distance deliveries<br>(Morning to Afternoon)<br>Location Availability: E.Rod, Camp Aguinaldo</p><br>
                <p>7am - 7pm for residents nearby<br>(Morning to Evening)<br>Location Availability: Cubao Area</p><br>
                <p>Click below to know our range of deliveries!</p><br>
                <div id="location-div"><button class="location-button" onclick="window.location.href='/location';"><p>&lt Locations</p></button></div>
            </div>
        </div>
    </div>
    {{> footer}}
</body>

</html>
