<!DOCTYPE html>
<html lang = "en">

<head>
    <title> Oishi Great - About </title>
    <link rel="stylesheet" href="css\user-address.css">
    <link rel="stylesheet" href="css\my-account.css">
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <script src="https://kit.fontawesome.com/e0c28b56a4.js" crossorigin="anonymous"></script>

</head>

<body>
    <script type="text/javascript" src="script.js">  </script>

   {{> header}}

    <div id="content-container">
        <div id="history">
            <div id="history-img">
                <img id="services-img" src="/images/Oishi Great Loc.png">
            </div>
            <div id="history-content">
                <h1 id="hsitoText">History</h1>
                <p class="histoText2">Since 2012, Oishi Great is a water refilling service dedicated to provide clean, great tasting water for the community of Cubao. We provide wholesale, retail, and can provide the best service to our clients all across the city. At Oishi Great, we understand the importance of hydration for a healthy lifestyle, which is why we adhere to top standards to ensure the cleanliness of our water.</p>
            </div>
        </div>
        <hr>
        <div id="services-container">
            <div id="services-content">
                <h1 id="servText">Services</h1>
                <p>At Oishi Great, we prioritize the health and safety of our customers by implementing a rigorous filtration process to ensure that customers only receive the best quality of water. Our filtration system utilizes multiple stages of purification, including sediment filtration, and activated carbon filtration to effectively remove impurities and odors.</p>
            </div>

            <div id="services-img">
                <img id="p1" src="/images/Oishi Great pic 1.png">
                <img id="p2" src="/images/Oishi Great pic 2.png">
            </div>
        </div>
    </div>

    {{> footer}}


</body>

</html>
