@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,500&display=swap');

/* include imports and @ stuff */
:root {
    --darkBlue: rgb(22, 72, 99);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
  background-color: #caf0f8;
}
.activeb {
  color: rgb(108, 180, 221);
}


/* common */
#topNavBar-container {
    height: 105px;
    width: 100%;
    background-color: var(--darkBlue);    
    font-family: 'Krona One', sans-serif;
    display: flex;
    position: sticky;
    top: 0;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    padding: 20px 14%;
}

#logo{
    width: 75px;
    height: 75px;
}
#tabs-container {
    display: flex;
    padding-left: 85px;
}

#tabs-icon i{
    font-size: 32px;
    margin-right: 20px;
    transition: all .36s ease;
    color: white;
}

.nav-tab {
    padding: 10px 25px;
    transition: transform 0.3s ease; /* Add transition for smoother animation */
}
#homeTab {
    color: white;
}
#aboutTab {
    color: white;
}
#prodTab {
    color: white;
}
#locTab {
    color: white;
}
#OLTab {
    color: white;
}
#botNavBar-container {
    height: 110px;
    width: 100%;
    background-color: rgb(22, 72, 99);    
    font-family: 'Krona One', sans-serif;
    display: flex;
    bottom: 0;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    align-items: absolute;
    z-index: 10;
}
#logo-bot{
    padding-left: 600px;
}
#info{
    display: flex;
    flex-grow: 1;  
    color: white;
}
#find{
    color: white;
    width:15em;
    text-align:center;
    padding-top: 8px;
}
#addr{
    padding-top: 10px;
}
#contact{
    color: white;
    width:10em;
    text-align:center;
    padding-top: 8px;
}
#num{
    padding-top: 10px;
}
#socials{
    color: white;
    width:10em;
    text-align:center;
    padding-top: 8px;
}
#soc{
    padding-top: 10px;
}
#botNavBar-container span {
    display: inline-block;
    width: 7px; 
    height: 100px;
    background-color: white;
    margin: 5px 10px 0; 
    border-radius: 50px;
}


/* Add this CSS to your existing stylesheet */


.tabsName {
    position: relative; /* Ensure the underline is relative to the text */
    text-decoration: none; /* Remove default underline */
    transition: font-size 0.3s ease; /* Add transition for font size */
    font-weight: 600;
    font-size: large;
    cursor: pointer;
}


.tabsName::after {
    content: ''; /* Add a pseudo-element for the underline */
    position: absolute;
    left: 0;
    bottom: -2px; /* Adjust the position of the underline */
    width: 0;
    height: 2px;
    background-color: #fff; /* Color of the underline */
    transition: width 0.3s ease; /* Add animation to the underline */
}

.tabsName:hover::after {
    width: 100%; /* Expand the width of the underline on hover */
}


.nav-tab:hover {
    cursor: pointer;
    transform: scale(1.05); /* Scale up the tab on hover */
}

.content-container {
    width: auto;
    padding: 5%;
}

#upperBox {
    border-bottom: #333 1px solid;
    height: 70vh;

    display: flex;
}

.home-intro{
    padding-top: 90px;
    padding-left:50px;
    max-width: 950px;
}

.home-intro h1, .home-intro p, .learn-button{
    margin:0 50px;
}
.home-intro h1{
    font-size: 50px;
    font-weight: bolder;
    color: #333;
    font-family: "IBM Plex Mono", monospace;
}

.home-intro p{
    font-size: 25px;
    color: #333;
    padding-top: 10px;
    font-family: "IBM Plex Mono", monospace;

}

.learn-button {
    display: block;
    margin-top: 20px; /* Adjust spacing between text and button */
    padding: 10px 20px;
    background-color: rgb(32, 105, 145) ; /* Example background color */
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.learn-button:hover {
    background-color: rgb(22, 72, 99); /* Example hover background color */
}

#secondBox{
    background:#CAF0F8 ;
    border-bottom:#333 1px solid;
    height:50vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;

}

.second-intro{
    padding-top:25px;
    display:flex;
    justify-content: center;
    font-size:50px;
    font-family: "IBM Plex Mono", monospace;
    font-style: normal;
    font-weight:700;
    
}

.second-body{
    padding-top:10px;
    font-size:25px;
    display:flex;
    justify-content: center;
    font-family: "IBM Plex Mono", monospace;
    font-style: normal;
}

.image-container p{
    padding-top: 20px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-family: "IBM Plex Mono", monospace;
    font-style: normal;
    font-weight:700;

}

.secondBoxImages {
    display: flex;
    justify-content: space-around; /* Adjust the spacing between images */
    align-items: center;
    padding-top: 40px; /* Add margin-top to separate images from the text */
}

.secondBoxImages img{
    width: 125px;
    height: 125px;
    margin: 0 80px; /* Adjust the margin as needed */
}

#thirdBox{
    border-bottom:#333 1px solid;
    padding:40px;
    display: flex;
    justify-content: space-around;
}

#delivery-info h1{
    font-size: 50px;
    font-weight: bolder;
    font-family: "IBM Plex Mono", monospace;
}

#delivery-info p{
    font-size: 25px;
    font-family: "IBM Plex Mono", monospace;
    text-align: center;
    align-items: center;
}

#location-div {
    display: flex;
    justify-content: center;
    color: white;
}

.location-button {
    display: block;
    padding:5px;
    margin-top: 20px; /* Adjust spacing between text and button */
    padding: 10px 20px;
    background-color: rgb(32, 105, 145) ; /* Example background color */
    border: none;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: white;
}

.fa-brands {
    transition: color 0.3s ease;
    padding-top: 20px;
    padding-right:4px;
    font-size:50px;
}

.fa-brands:hover {
    color:#1877F2 !important;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1; /* Take remaining vertical space */
  padding-top: 15px; /* Adjust based on the height of topNavBar-container */
}

.container {
  width: 400px; /* Increase width as needed */
  background: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 50px 35px 10px 35px;
  box-sizing: border-box; /* Include padding and border in the element's total width */
}

.container header {
  font-size: 35px;
  font-weight: 600;
  margin: 0 0 30px 0;
}

.container .form-outer {
  width: 100%;
  overflow: hidden;
}

.container .form-outer form {
  display: flex;
  width: 400%;
}

.form-outer form .page {
  width: 25%;
  transition: margin-left 0.3s ease-in-out;
}

.form-outer form .page .title {
  text-align: left;
  font-size: 25px;
  font-weight: 500;
}

.form-outer form .page .field {
  width: 100%; /* Adjust as necessary */
  height: 45px;
  margin: 45px 0;
  display: flex;
  position: relative;
}

form .page .field .label {
  position: absolute;
  top: -30px;
  font-weight: 500;
}

form .page .field input,
form .page .field select {
  width: 100%;
  height: 100%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding-left: 15px;
  font-size: 18px;
  box-sizing: border-box; /* Include padding and border in input/select width */
}

form .page .field button {
  width: 100%;
  height: calc(100% + 5px);
  border: none;
  background: rgb(32, 105, 145);
  margin-top: -20px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s ease;
  box-sizing: border-box; /* Include padding and border in button's total height */
}

form .page .field button:hover {
  background: #000;
}

form .page .btns button {
  margin-top: -20px!important;
}

form .page .btns button.prev {
  margin-right: 3px;
  font-size: 17px;
}

form .page .btns button.next {
  margin-left: 3px;
}

.container .progress-bar {
  display: flex;
  margin: 40px 0;
  user-select: none;
}

.container .progress-bar .step {
  text-align: center;
  width: 100%;
  position: relative;
}

.container .progress-bar .step p {
  font-weight: 500;
  font-size: 18px;
  color: #000;
  margin-bottom: 8px;
}

.progress-bar .step .bullet {
  height: 25px;
  width: 25px;
  border: 2px solid #000;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  transition: 0.2s;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
}

.progress-bar .step .bullet.active {
  border-color: rgb(32, 105, 145);
  background: rgb(32, 105, 145);
}

.progress-bar .step .bullet span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.progress-bar .step .bullet.active span {
  display: none;
}

.progress-bar .step .bullet:before,
.progress-bar .step .bullet:after {
  position: absolute;
  content: '';
  bottom: 11px;
  right: -51px;
  height: 3px;
  width: 44px;
  background: #262626;
}

.progress-bar .step .bullet.active:after {
  background-color: rgb(32, 105, 145);
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 0.3s linear forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after {
  display: none;
}

.progress-bar .step p.active {
  color: rgb(32, 105, 145);
  transition: 0.2s linear;
}

.progress-bar .step .check {
  position: absolute;
  left: 50%;
  top: 70%;
  font-size: 15px;
  transform: translate(-50%, -50%);
  display: none;
}

.progress-bar .step .check.active {
  display: block;
  color: #fff;
}


/* @media screen and (max-width: 768px) {
  #tabs-container {
    display: none;
  }
  #tabs-icon {
    display: none;
  }
} */
